<ul class="nav nav-pills">
	<li role="presentation"<%if locals[:option] == 0%>class="active"<%end%>><a href= <%= item_path %> >Vista</a></li>
	<li role="presentation" <%if locals[:option] == 1%>class="active"<%end%>><a href= <%= edit_item_path %> >Editar</a></li>
	<li role="presentation" <%if locals[:option] == 2%>class="active"<%end%>><a href= <%= userlist_path %> >Gestionar Compradores</a></li>
	<li role="presentation" <%if locals[:option] == 3%>class="active"<%end%>><a href="#">Acciones Generales</a></li>
</ul>