<div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-10">
          <h3 class= "menu-title"><i>Categorias</i></h3>
        </div>
      </div>
    </div>
    <div class = "panel-body">
      <div class="list-group">
  		<button type="button" class="list-group-item">Informática y Tecnología</button>
  		<button type="button" class="list-group-item">Coches y Motos</button>
  		<button type="button" class="list-group-item">Deporte y Tiempo Libre</button>
  		<button type="button" class="list-group-item">Muebles y Cosas de Casa</button>
  		<button type="button" class="list-group-item">Consolas y Videojuegos</button>
  		<button type="button" class="list-group-item">Música, Libros, Películas</button>
   		<button type="button" class="list-group-item">Moda y Complementos</button>
    	<button type="button" class="list-group-item">Niños, Bebes y Juguetes</button>
    	<button type="button" class="list-group-item">Electrodomésticos</button>
    	<button type="button" class="list-group-item">Otros</button>

	  </div>
    </div>
</div>