<% if user_signed_in? %>
<div class = "row">
<div class="col-md-3">
    <%=render "categoriesmenu" %>
</div>
<div class="col-md-9">
  <div class="panel panel-primary">
    <div class = "panel-heading">
      <div class = "row">
        <div class = "col-md-10">
          <h4 class= "menu-title"><i>Date prisa, que se acaban:</i></h4>
        </div>
      </div>
    </div>
    <div class = "panel-body">
      <table class="table table-striped">
        <% if @items.count == 0 %> 
            No se han encontrado resultados.
        <% else %>
            <% @items.each do |item| %>
            <tr>
            <td width="10%">
                <img class = "round-image-100 img-responsive" src= <%= item.avatar.url(:thumb) %>>
            </td>
            <td width="90%">
                <h4><%= link_to( item.title , item_path(item.id)) %></h4>
                <% if item.open_to_apply == true %>
                <span class="label label-default">Aceptando compradores</span>
                <% end %>
                <% if item.open_to_pay == true %>
                <span class="label label-default">Aceptando pagos</span>
                <% end %>
                <% if item.open_to_send == true %>
                <span class="label label-default">Realizando envios</span>
                <% end %>
                <% if item.all_sent == true %>
                 <span class="label label-default">Compra Enviada</span>
                <% end %>
                <% if item.closed_status == true %>
                <span class="label label-danger">Venta Cerrada</span>
                <% end %>                          
            </td>
            </tr>
            <% end %>
        <% end %>
      </table>
    </div>
  </div>
</div>
</div>
<% else %>
        <center>
            <div id="carousel-example" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
                <div class="carousel-inner" style=" width: auto; overflow: hidden !important;">
                    <div class="item active">
                        <img src="assets/laptop.jpg" class=".img-responsive">
                         <div class="carousel-caption">
                            <h3>Crea tu venta</h3>
                            <p>Genera tu venta de forma fácil y sencilla con BuyJunction. Añade imágenes, descripción, cantidades mínimas, y todos los datos necesarios para los compradores potenciales</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/smartphone.jpg">
                        <div class="carousel-caption">
                            <h3>Gestiona tu venta</h3>
                            <p>Contacta con los compradores, visualiza en tiempo real en qué estado se encuentra tu venta, qué compradores han pagado, quién ha recibido ya su item.. Todo de forma rápida y sencilla con BuyJunction</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/containers.jpg">
                        <div class="carousel-caption">
                            <h3>Gestiona tus compras</h3>                       
                            <p>Conoce en todo momento el estado de tu compra, si ya se ha hecho el pedido, si el pago de tu artículo ha sido confirmado o si tu artículo está de camino a tu casa.  </p>
                        </div>
                     </div>
                </div>
            </div>
        </center>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>$('.carousel').carousel();</script>
<% end %>
