<% flash.each do |key, value| %>
   <div class="alert alert-info alert-dismissible" role="alert">
       <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <ul class="list-unstyled">
        <li class="text-center">
          <%= value %>
        </li>
      </ul>
  </div>
<% end %>
<p><h2>Todas las Compras <!--<%= button_to 'Nueva Venta', new_item_path, :action => 'get', :method => 'get', class: 'btn btn-success btn-sm text-capitalize btn-primary pull-right'%>--></h2> 
<% @items.each do |item| %>
	<p><img class = "round-image-50" src= <%= item.avatar.url(:thumb) %> ><%= link_to( item.title , item_path(item.id)) %></p>
<% end %>