<p><h2>Todas las Compras <%= button_to 'Nueva Venta', new_item_path, :action => 'get', :method => 'get', class: 'btn btn-success btn-sm text-capitalize btn-primary pull-right'%></h2>
<% @items.each do |item| %>
	<p><%= link_to( item.title , item_path(item.id)) %></p>
<% end %>