.nav-bar{
	background-color: #8DBD0C;
}

.nav-bar-text{

}
.logo-text-bold{
font-family: 'Kanit', sans-serif;
font-weight: 900;
}

.logo-text-normal{
font-family: 'Kanit', sans-serif;
font-weight: 500;
}