.mybody{
font-family: 'Kanit', sans-serif;
font-weight: 400;
}

ul
{
    list-style-type: none;
}

a:link{
    color: black;
}
a:visited{
    color: black;
}

.nav-bar{
	background-color: #8DBD0C;
}

.main-content{
    width: 100%;
    margin:auto;
}

.btn {
    color: black;
}

.btn-edit-user{
    margin-top: 20px;
}

.btn-new-buy{
    margin-top:15px;
}
.logo-text-bold{
font-family: 'Kanit', sans-serif;
font-weight: 900;
font-size: 2em;
color: #FFFFFF;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo-text-normal{
font-family: 'Kanit', sans-serif;
font-weight: 500;
font-size: 2em;
color: #FFFFFF;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-brand .logo-img {
display: inline;
max-height: 250%;
vertical-align: text-top;
margin-top: -16px;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    overflow: hidden;
    text-align: center;
    max-width: 50px;
    vertical-align: middle;
    img { width: 100% };
}

.round-image-100 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    overflow: hidden;
    text-align: center;
    max-width: 100px;
    vertical-align: middle;
    img { width: 100% }
}

.round-user-avatar-medium{
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 100px;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    img { width: 100% }
}

.round-item-avatar-big{
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    img { width: 100% }    
}
.panel-primary{
    border-color: white;
}

.panel-primary .panel-heading {
    background-color: white;
    border-color: #8DBD0C;
    padding: 1px 15px;
}

.header-title-shadow{
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;    
}

.menu-title{
color: black;    
}

.nav-pills li.active a{
    background-color: #8DBD0C;
}

.nav-pills li.active a:hover{
    background-color: #8DBD0C;
}

.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }

 .label-success {
    background-color: #8DBD0C;
 }

 .item-description-text{
    font-size: 1.2em;
    text-align: justify;
 }

 .item-edit-text{
    color:black;
 }
 
 .form-textarea{

    width: 80%;
 }

 .unread_message{
    font-weight: bold;
 }