.mybody{
font-family: 'Kanit', sans-serif;
font-weight: 400;
}


.nav-bar{
	background-color: #8DBD0C;
}

.logo-text-bold{
font-family: 'Kanit', sans-serif;
font-weight: 900;
font-size: 2em;
color: #FFFFFF;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.logo-text-normal{
font-family: 'Kanit', sans-serif;
font-weight: 500;
font-size: 2em;
color: #FFFFFF;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.navbar-brand .logo-img {
display: inline;
max-height: 250%;
vertical-align: text-top;
}

.round-image-50 {
    background-color: white;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    height: 50px;
    width: 50px;
    overflow: hidden;
    text-align: center;
    img { width: 100% }
}